<!DOCTYPE html>
<html>

<head>
<title>Network Monitor Login</title>

<style>

body{
    background:#111827;
    font-family:Arial;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}


.box{

    background:white;
    padding:30px;
    border-radius:10px;
    width:300px;
    text-align:center;

}


input{

    width:90%;
    padding:10px;
    margin:10px;

}


button{

    background:#2563eb;
    color:white;
    border:none;
    padding:10px 30px;
    cursor:pointer;

}

</style>

</head>


<body>


<div class="box">

<h2>
Network Monitor
</h2>


<form method="POST">


<input 
name="username"
placeholder="Username"
>


<input
type="password"
name="password"
placeholder="Password"
>


<button>
Login
</button>


</form>


<p>

Default Login

<br>

Username: admin

<br>

Password: admin123

</p>


</div>


</body>

</html>